<nav>
  <ul>
    <li <% if (title === 'Home Page') { %>class="now" <% } %> ><a href="/">Home Page</a></li>
    <li <% if (title === 'About Page') { %>class="now" <% } %> ><a href="/about">About</a></li>
    <li <% if (title === 'Resources Page') { %>class="now" <% } %> ><a href="/resources">Resources</a></li>
  </ul>
</nav>